# Dependencies and Environments
/node_modules
/venv
.env
.env.local
.env.*.local
.vscode
.idea
npm-debug.log*
yarn-debug.log*

# Build and Compilation Outputs
/build
/dist
/out
__pycache__/
*.pyc
*.log